
.nav-brand{
  padding-left: 0;
}
.nav-item{
  padding: 0 18px;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a {
  color: white;
}

.img-circle{
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.col-lg-4 img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.col-lg-4:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.row{
  padding: 30px;
}
