.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.nav-brand{
  padding-left: 0;
}
.nav-item{
  padding: 0 18px;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a {
  color: white;
} 
