
.nav-brand{
  padding-left: 0;
}
.nav-item{
  padding: 0 18px;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-menu a {
  color: white;
} 

.img-circle{
  height: 140px;
  width: 140px;
  border-radius: 50%;
}
.img-circle:hover{
  transform: rotate(180deg);
}
.btn-default{
  color: #333;
  background-color: #fff;
  border-color: #000;
}
.image:hover{
  transform: scale(1.2);
}